<div class="contacto-container">
    <div class="contacto-content">
        <h3 class="titulo-contacto">Información de Contacto</h3>

        <p>
            Dirección: Incluye la dirección física de la tienda o sede, si
            aplica.
        </p>
        <p>
            Teléfono: Proporciona un número de teléfono para atención directa.
        </p>
        <p>
            Correo Electrónico: Ofrece una dirección de correo electrónico para
            consultas generales o pedidos especiales.
        </p>
        <p>
            Horario de Atención: Indica los días y horas en que la tienda está
            abierta.
        </p>
        <h3>Redes Sociales</h3>
    </div>
</div>
<style>
    .contacto-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .contacto-content {
        border-radius: 20px;
        padding: 2rem;
        width: 50vw;
        background-color: white;
        font-size: 1.2rem;
        line-height: 1.3;
        margin: 3rem 0 5rem 0;
    }

    .titulo-contacto{
        font-family: "Grand Hotel", system-ui;
        font-size: 2rem;
        color:#551503;
        margin-bottom: 1rem;
    }

    @media (max-width: 768px) {
        .contacto-content {
            margin-top: 1rem;
            width: 75vw;

        }
    }
</style>
