---
import Formulario from "./formulario.astro";
---

<footer class="footer">
    <section class="footer-contacto">
        <h3>Información de Contacto</h3>
        <p><strong>Dirección:</strong> Calle Ejemplo 123, Ciudad, País</p>
        <p><strong>Teléfono:</strong> +123 456 7890</p>
        <p><strong>Email:</strong> contacto@ejemplo.com</p>

        <div class="social-media">
            <h3>Síguenos</h3>
            <div class="social-icons">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="face-footer"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"
                    ></path>
                </svg>

                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="insta-footer"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"
                    ></path>
                </svg>

                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="youtube-footer"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"
                    ></path>
                </svg>
            </div>
        </div>
    </section>

    <section class="footer-logo">
        <div class="logo">
            <img src="/img/logo.png" alt="Logo de la Empresa" />
        </div>
        <div class="copyright">
            <p>
                &copy; 2024. Eilyn Ginoe Brito. Todos los derechos reservados.
            </p>
        </div>
    </section>

    <section class="footer-form">
        <Formulario />
    </section>
</footer>

<style>
    .footer {
        height: 50%;
        font-family: "Dosis", sans-serif;
        background-color: #5c3e2e;
        color: #ffffff;
        text-align: left;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
        box-sizing: border-box;
    }

    .footer-contacto,
    .footer-logo,
    .footer-form {
        padding: 10px;
    }

    .footer-contacto {
        height: 50vh;
    }

    .footer h3 {
        margin-top: 0;
        color: #f9e2d6;
        font-size: 1.5rem;
    }

    .footer-contacto p {
        margin: 5px 0;
    }

    .social-media {
        margin-top: 6vh;
    }

    .social-icons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    .social-icons svg {
        fill: #ffffff; /* Establece el color de los iconos a blanco */
        width: 24px;
        height: 24px;
        transition: fill 0.3s ease;
    }

    .social-icons svg:hover {
        fill: #f9e2d6; /* Color al pasar el cursor por encima */
    }

    .footer-logo {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
    }
    .footer-logo .logo {
        max-width: 350px;
        max-height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
    }

    .footer-logo .logo img {
        max-width: 220px;
    }

    .footer-logo .copyright {
        font-size: 14px;
    }

    .footer-form {
        height: 50vh;
    }

    /* Estilos para pantallas menores de 600px */
    @media (min-width: 381px) and (max-width: 600px) {
        .footer {
            grid-template-columns: 1fr;
            width: 100%;
            gap: 20px;
            padding: 20px 0;
        }

        .footer-form {
            order: 1;
            height: 40vh;
        }

        .footer-contacto {
            order: 2;
            height: 40vh;
            margin-top: 4rem;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
        }

        .social-icons {
            margin: 0 auto;
    }

        .footer-logo {
            margin-top: 1rem;
            order: 3;
            height: 40vh;
        }
    }

    @media (max-width: 380px) {
        .footer {
            min-height: 100vh;
            grid-template-columns: 1fr;
            width: 100%;
            gap: 20px;
            padding: 20px 0;
        }

        .footer-contacto {
            order: 2;
            margin-top: 30px;
            margin: 0 auto;
            text-align: center;
        }

        .social-icons svg {
            margin: 0 auto;
            text-align: center;
    }

        .footer-logo {
            height: 30vh;
            order: 3;
            margin-top: 30px;
        }

        .footer-logo .logo img {
            width: 100px;
        }

        .footer-form {
            order: 1;
            height: 90vh;
        }
    }

    @media (min-width: 600px) and (max-width: 950px) and (orientation: landscape) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
        grid-template-rows: auto auto; /* Dos filas automáticas */
        gap: 20px;
        height: auto;
        padding: 20px;
    }

    /* Primera fila: Información de contacto y formulario */
    .footer-contacto {
        grid-column: 1 / 2; /* Coloca en la primera columna */
        grid-row: 1 / 2; /* Coloca en la primera fila */
        height: auto;
        margin: 0; /* Elimina márgenes superiores e inferiores */
    }

    .footer-form {
        grid-column: 2 / 3; /* Coloca en la segunda columna */
        grid-row: 1 / 2; /* Coloca en la primera fila */
        width: 100%;
        margin: 0; /* Elimina márgenes superiores e inferiores */
        height: auto;
    }

    /* Segunda fila: Logo y copyright */
    .footer-logo {
        grid-column: 1 / 3; /* Ocupa ambas columnas */
        grid-row: 2 / 3; /* Coloca en la segunda fila */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 20px;
    }

    .footer-logo .logo {
        margin-bottom: 10px; /* Espacio entre el logo y el copyright */
    }

    .copyright {
        text-align: center;
    }
}

</style>
